<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="wench:connString" value="test_db_conn"/>
    </appSettings>
  
    <connectionStrings>
        <add name="create_db_conn" providerName="System.Data.SqlClient"
             connectionString="Data Source=.\SQLExpress;Initial Catalog=master;User Id=sa;Password=*desenv#94" />
        <add name="test_db_conn" providerName="System.Data.SqlClient"
             connectionString="Data Source=.\SQLExpress;Initial Catalog=TavernWenchTestDb;User Id=sa;Password=*desenv#94" />
    </connectionStrings>
</configuration>